# Compiled output
/dist
/node_modules
*.js.map
*.d.ts

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json

# Environment variables
.env
.env.local
.env.*.local
.env.qa
.env.dev
.env.prod

# PM2
.pm2

# Misc
*.swp
*.swo
*~
.history
